# Maven ignores
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Netbeans ignores
nb-*
*.NavData

# Astah ignores
*.asta.bak
*.asta.lock

# Sonstiges
*.log